main {
	display: grid;
	gap: 5rem;
	width: clamp(50.625rem, 48.6685rem + 9.7826vw, 56.25rem);
	// width: clamp(36rem, 34.6087rem + 6.9565vw, 40rem);
	max-width: calc(100dvw - 10rem);

	h1,
	h2 {
		text-align: center;
	}

	h1 {
		font-size: 2rem;
	}
}

.no-result {
	display: grid;
	place-items: center;

	transition-duration: 200ms;
	transition-property: border-color, color;
	transition-timing-function: ease-in-out;
	margin-bottom: 10rem;

	border: 1px solid var(--color-border);
	border-radius: 1rem;
	padding: 3rem 1rem;

	&:hover,
	&:focus-visible {
		border-color: var(--color-brand);
		color: var(--color-brand);
	}

	svg {
		width: 5rem;
		height: 5rem;
	}
}

.addresses {
	display: grid;
	gap: 2rem;
	padding-inline: 2rem;
	width: 100%;

	max-height: 75dvh;
	overflow: auto;

	&__address {
		display: grid;

		gap: 2rem;
		border: 1px solid var(--color-border);
		border-radius: 1rem;
		padding: 2rem;

		strong {
			font-weight: 900;
		}
	}

	.buttons {
		display: flex;
		gap: 1rem;

		button {
			outline: 1px solid var(--color-border);
			border-color: transparent;
			border-radius: 0.25rem;
			background-color: transparent;
			padding: 0.25rem 0.75rem;

			&:hover {
				outline-color: var(--color-border-hover);
			}

			&:active,
			&:focus-visible {
				outline-color: var(--color-brand);
			}
		}

		p {
			margin-left: auto;
		}
	}
}
