.form {
	margin-inline: auto;
	width: clamp(50.625rem, 48.6685rem + 9.7826vw, 56.25rem);

	&__wrapper {
		border: 1px solid var(--color-border);
		border-radius: 0.75rem;

		padding: 1rem;
	}

	&__title {
		margin-inline: auto;
		padding-inline: 0.5rem;
	}

	&__field {
		display: grid;
		grid-auto-rows: max-content;
		gap: 0.5rem;
		width: fit-content;

		input,
		select {
			outline: 1px solid var(--color-border);
			border-color: transparent;
			border-radius: 0.25rem;
			background-color: transparent;
			padding: 0.25rem 0.75rem;

			&:hover {
				outline-color: var(--color-border-hover);
			}

			&:active,
			&:focus-visible {
				outline-color: var(--color-brand);
			}
		}
	}
}
